.header {
    padding-top: 47px;
}

@media (max-width: $small-device-breakpoint) {
    .header {
        padding-top: 30px;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Google Sans';
    font-weight: 500;
    font-size: $fs-17;
    color: $dark-grey-color;
}

.logo {
    width: 115px;
    height: 34px;
}

.navbar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

@media (max-width: $small-device-breakpoint) {
    .navbar__inner {
        width: 50%;
    }
}
@media (max-width: $x-small-device-breakpoint) {
    .navbar__inner {
        width: 90px;
    }
}

.menu {
    width: 55%;

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &:hover {
            transition: all .4s linear;
            transform: scale(1.2);
        }

        a:link {
            font-weight: 500;
            color: $dark-grey-color;
        }

        a:visited {
            color: $dark-grey-color;
        }

        a:hover {
            color: $red-color;
        }

        a:active {
            color: $dark-grey-color
        }
    }
}

@media (max-width: $small-device-breakpoint) {
    .menu {
        display: none;
    }
}


.authorize {
    display: flex;
    justify-content: space-between;
    width: 25%;
    gap: 5%;

    &__btn {
        background: transparent;
        border: none;
        cursor: pointer;
        &_bordered {
            padding: 10px 22px;
            border: 1px solid $dark-grey-color;
            border-radius: 5px;
            white-space: nowrap;
        }

        @media (max-width: $small-device-breakpoint) {
            &_bordered {
                padding: 8px 10px;
            }
        }
    }
}

@media (max-width: $small-device-breakpoint) {
    .authorize {
        width: 50%;
        margin-right: 20px;
    }
}

@media (max-width: $x-small-device-breakpoint) {
    .authorize {
       display: none;
    }
}

.language {
    &__btn {
        border: none;
        background: transparent;
        position: relative;
        cursor: pointer;
        padding-right: 16px;

        &::after {
            content: '';
            position: absolute;
            background-image: url('../icons/arrow_down.svg');
            top: 50%;
            transform: translateY(-50%);
            right: 0%;
            width: 9px;
            height: 5px;
        }
    }
}

.hamburger {
    display: none;
}


@media (max-width: $small-device-breakpoint) {
    .hamburger {
        display: block;
        width: 25px;
        height: 20px;
        &__btn {
            width: 100%;
            height: 20px;
            background-color: transparent; 
            border: none;
            position: relative;
            cursor: pointer;
            &::after {
                content: "";
                height: 2px;
                border-radius: 30px;
                box-shadow: 0 5px 0 0 $dark-grey-color, 0 10px 0 0 $dark-grey-color;
                width: 100%;
                position: absolute;
                background: $dark-grey-color;
                left: 0;
                top: 0;
            }
        }
    }
}
@media (max-width: $x-small-device-breakpoint) {
    .hamburger {
        width: 25px;
        &__btn {
            &::after {
                left: 0;
                top: 2px;
            }
        }
    }
}