.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50vw;
    height: 100vw;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;

    &.active {
        right: 0;
        visibility: visible;
        opacity: 1;
    }

    &__block {
        position: relative;
        width: 50vw;
        background-color: rgb(255,241,218);
        height: 100vh;
        padding: 40px;
        transition: all .6s;
        z-index: 10;
    }
    @media (max-width: $small-device-breakpoint) {
        &__block {
            padding-top: 70px;
            width: 50vw;
        }
    }
    @media (max-width: $x-small-device-breakpoint) {
        &__block {
            width: 100vw;
        }
    }

    &__close {
        position: absolute;
        top: 35px;
        right: 35px;
        cursor: pointer;
    }

    &__list {
        padding-left: 45px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__link {
        position: relative;
        font-size: $fs-24;
        color: $dark-grey-color;
        line-height: 36px;

        a:link {
            font-weight: 500;
            color: $dark-grey-color;
        }

        a:visited {
            color: $dark-grey-color;
        }

        a:hover {
            color: $red-color;
        }

        a:active {
            color: $dark-grey-color
        }
        &_bordered {
            padding-top: 25px;
            border-top: 2px solid $dark-grey-color;
        }
    }
    @media (max-width: $small-device-breakpoint) {
        &__link_x-small {
            display: none;
        }
    }
    @media (max-width: $x-small-device-breakpoint) {
        &__link_x-small {
            display: block;
            text-align: center;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .75;
    }

}

@media (max-width: $small-device-breakpoint) {
    .mobile-menu {
        display: block;
    }
}

@media (max-width: $x-small-device-breakpoint) {
    .mobile-menu {
        width: 100%;
        height: 100vh;
    }
}


