.offer {
    margin-top: 96px;
    &__sutitle {
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 108px;
    }

    @media (max-width: $large-device-breakpoint) {
        &__title {
            margin-bottom: 50px;
        }
    }
    @media (max-width: $medium-device-breakpoint) {
        &__title {
            margin-bottom: 30px;
        }
    }
    @media (max-width: $small-device-breakpoint) {
        &__title {
            margin-bottom: 10px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 35px;
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            width: 153px;
            height: 166px;
            position: absolute;
            background: url('../images/decore_offer.svg') center center/100% no-repeat;
            top: -218px;
            right: 0;
        }
    }
    @media (max-width: $large-device-breakpoint) {
        &__wrapper {
            &::after {
                top: -150px;
                right: -20px;
                width: 122px;
                height: 133px;
            }
        }
    }
    @media (max-width: $medium-device-breakpoint) {
        &__wrapper {
            grid-template-columns: (1fr 1fr);
            &::after {
                top: -130px;
                right: -20px;
                width: 112px;
                height: 123px;
            }
        }
    }
    @media (max-width: $small-device-breakpoint) {
        &__wrapper {
            grid-template-columns: 100%;
            justify-content: center;
            gap: 15px;
            &::after {
                display: none;
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 25px;
        background-color:$white-color;
        &:hover {
            border-radius: 36px;
            @include box-shadow;
            transition: all 0.2s linear;
            &::before {
                content: "";
                background: $red-color;
                border-radius: 30px 0px 10px;
                width: 100px;
                height: 100px;
                position: absolute;
                bottom: -35px;
                left: -35px;
                z-index: -1;
                animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
    }
    @media (max-width: $medium-device-breakpoint) {
        &__item {
            padding: 20px;
            pointer-events: none;
        }
    }
    @media (max-width: $small-device-breakpoint) {
        &__item {
            padding: 10px;
        }
    }

    &__item-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 30px;
        width: 130px;
        height: 95px;
        z-index: 1;

        &_satelite {
            background: url('../icons/satellite-dish.svg') center center no-repeat;
            width: 70px;
            height: 70px;
            position: relative;
            &::before {
                @include after-rectangle;
                top: 40%;
                left: 55%;
                transform: rotate(-180deg);
            }
        }
        &_plane {
            background: url('../icons/plane.svg') center center no-repeat;
            width: 130px;
            height: 95px;
            position: relative;
            &::before {
                @include after-rectangle;
                top: 10%;
                left: 20%;
                
            }
        }
        &_micorphone {
            background: url('../icons/microphone.png') center center no-repeat;
            width: 40px;
            height: 70px;
            position: relative;
            &::before {
                @include after-rectangle;
                top: 10%;
                left: 50%;
            }
        }
        &_power-supply {
            background: url('../icons/power-supply.svg') center center no-repeat;
            width: 50px;
            height: 50px;
            position: relative;
            &::before {
                @include after-rectangle;
                top: 40%;
                left: 50%;
            }
        }
    }
    &__content-title {
        color: $blue-color;
        font-family: 'Google Sans';
        font-weight: 400;
        font-size: $fs-20;
        line-height: 27px;
        margin-bottom: 15px;
    }
    @media (max-width: $medium-device-breakpoint) {
        &__content-title {
            font-size: $fs-24;;
        }
    }
    &__content-text {
        color: $grey-color;
        font-weight: 500;
        line-height: 26px;
    }
    @media (max-width: $medium-device-breakpoint) {
        &__content-text {
            font-size: $fs-18;;
        }
    }
}

@media (max-width: $large-device-breakpoint) {
    .offer {
        margin-top: 70px;
    }
}
@media (max-width: $medium-device-breakpoint) {
    .offer {
        margin-top: 40px;
    }
}
@media (max-width: $small-device-breakpoint) {
    .offer {
        margin-top: 20px;
    }
}