.partners {
    margin-top: 173px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        justify-content: center;
    }
    @media (max-width: $small-device-breakpoint) {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
        }
    }

    &__link {
        height: 85px;
        width: 100%;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        filter: grayscale(100%);
        &:hover {
            @include box-shadow;
            filter: none;
            transition: all 0.5s ease-in;
        }
    }
    @media (max-width: $medium-device-breakpoint) {
        &__link {
            filter: none;
            &:hover {
                box-shadow: none;
                transition: none;
            }
        }
    }
    @media (max-width: $small-device-breakpoint) {
        &__link {
            width: 100%;
        }
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 25px;
    }
}

@media (max-width: $large-device-breakpoint) {
    .partners {
        margin-top: 130px;
    }
}
@media (max-width: $medium-device-breakpoint) {
    .partners {
        margin-top: 80px;
    }
}
@media (max-width: $small-device-breakpoint) {
    .partners {
        margin-top: 40px;
    }
}