.plane {
    position: absolute;
    width: 137px;
    height: 95px;

    &__left {
        top: 6%;
        right: 42%;

        &:hover {
            animation: 3s 1 plane-fly-left linear 600ms;
        }
    }
    @media (max-width: $large-device-breakpoint) {
        &__left {
            width: 110px;
            height: 65px;
            top: 15%;
            right: 43%;
        }
    }
    @media (max-width: $medium-device-breakpoint) {
        &__left {
            width: 80px;
            height: 35px;
            right: 38%;
        }
    }
    @media (max-width: $small-device-breakpoint) {
        &__left {
            display: none;
        }
    }

    &__right {
        top: 15%;
        right: 6%;
        z-index: -1;
        // &:hover {
        //     animation: 3s 1 plane-fly-right linear 600ms;
        // }
    }

    @media (max-width: $large-device-breakpoint) {
        &__right {
            width: 110px;
            height: 65px;
            right: 2%;
        }
    }
    @media (max-width: $medium-device-breakpoint) {
        &__right {
            width: 80px;
            height: 35px;
        }
    }
    @media (max-width: $small-device-breakpoint) {
        &__right {
            display: none;
        }
    }
}