.plane {
    position: absolute;
    width: 137px;
    height: 95px;

    &__left {
        top: 6%;
        right: 42%;

        &:hover {
            animation: 3s 1 plane-fly-left linear 600ms;
        }
    }
    @media (max-width: $medium-device-breakpoint) {
        &__left {
            display: none;
        }
    }

    &__right {
        top: 15%;
        right: 6%;
        z-index: -1;
        // &:hover {
        //     animation: 3s 1 plane-fly-right linear 600ms;
        // }
    }

    @media (max-width: $large-device-breakpoint) {
        &__right {
            right: 2%;
        }
    }
    @media (max-width: $medium-device-breakpoint) {
        &__right {
            display: none;
        }
    }
}