.testimonials {
    margin-top: 200px;
    &__wrapper {
        display: flex;
        gap: 124px;
    }
    @media (max-width: $medium-device-breakpoint) {
        &__wrapper {
            gap: 80px;
        }
    }
    @media (max-width: $small-device-breakpoint) {
        &__wrapper {
            flex-direction: column;
            gap: 40px;
        }
    }
}

@media (max-width: $large-device-breakpoint) {
    .testimonials {
        margin-top: 130px;
    }
}
@media (max-width: $medium-device-breakpoint) {
    .testimonials {
        margin-top: 80px;
    }
}

.testimonials-titles {
    width: 410px;
    &__subtitle {
        text-align: left;
        margin-bottom: 8px;
    }
    @media (max-width: $small-device-breakpoint) {
        &__subtitle {
            text-align: center;
        }
    }
    &__title {
        text-align: left;
    }
    @media (max-width: $small-device-breakpoint) {
        &__title {
            text-align: center;
        }
    }
}
@media (max-width: $small-device-breakpoint) {
    .testimonials-titles {
        width: 80%;
        margin: 0 auto;
    }
}

.testimonials-card {
    width: 505px;
    @include box-shadow;
    padding: 28px 34px;
    border-radius: 10px;
    background: $white-color;
    margin-top: 27px;
    position: relative;
    color: $grey-color;
    &::before {
        content: '';
        width: 68px;
        height: 68px;
        background: url('../images/testimonials.png') center center;
        position: absolute;
        top: -27px;
        left: -27px;
    }
    &__text {
        font-weight: 500;
        line-height: 32px;
        color: $grey-color;
    }
    @media (max-width: $small-device-breakpoint) {
        &__text {
            line-height: 28px;
        }
    }
    &__author {
        font-weight: 600;
        font-size: $fs-18;
        line-height: 27px;
        margin-top: 34px;
    }
    @media (max-width: $small-device-breakpoint) {
        &__author {
            margin-top: 20px;
        }
    }
    &__location {
        font-weight: 500;
        font-size: $fs-14;
        line-height: 21px;
        margin-top: 5px;
    }
}
@media (max-width: $small-device-breakpoint) {
    .testimonials-card {
        width: 80%;
        align-self: center;
    }
}