.top-selling {
    margin-top: 155px;
    text-transform: capitalize;
    &__sutitle {
        margin-bottom: 10px;
    }
    &__title {
        margin-bottom: 60px;
    }
    @media (max-width: $large-device-breakpoint) {
        &__title {
            margin-bottom: 30px;
        }
    }
    @media (max-width: $small-device-breakpoint) {
        &__title {
            margin-bottom: 20px;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 46px;
        position: relative;
        &::after {
            content: "";
            background: url('../../images/decore_selling.svg') center center/cover no-repeat;
            width: 100px;
            height: 260px;
            position: absolute;
            top: 30%;
            right: -50px;
            z-index: -1;
        }
    }

    @media (max-width: $large-device-breakpoint) {
        &__wrapper {
            gap: 26px;
            &::after {
                top: 35%;
                right: -60px;
                background: url('../../images/decore_selling.svg') center center/80% no-repeat;
            }
        }
    }
    @media (max-width: $medium-device-breakpoint) {
        &__wrapper {
            &::after {
               display: none;
            }
        }
    }
    @media (max-width: $small-device-breakpoint) {
        &__wrapper {
            grid-template-columns: 60%;
            grid-template-rows: auto;
            justify-content: center;
            gap: 30px;
        }
    }
    @media (max-width: $x-small-device-breakpoint) {
        &__wrapper {
            grid-template-columns: 80%;
        }
    }


    &__card {
        height: 100%;
        @include box-shadow;;
        border-radius: 24px;
        position: relative;
        &:hover {
            transition: all 1s ease-out;
            transform: scale(1.2);
            box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.2);
        }
    }
    @media (max-width: $large-device-breakpoint) {
        &__card {
            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.2);
            }
        }
    }
    @media (max-width: $medium-device-breakpoint) {
        &__card {
            pointer-events: none;
        }
    }

    &__image {
        border-radius: 24px;
    }

    &__card-body {
        position: absolute;
        background-color: $white-color;
        width: 100%;
        bottom: 0;
        padding: 25px;
        padding-bottom: 42px;
        font-weight: 500;
        font-size: $fs-18;
        line-height: 1.25;
        color: $grey-color;
        border-radius: 0  0 24px 24px;
    }
    @media (max-width: $medium-device-breakpoint) {
       &__card-body {
        padding: 20px;
       }
    }
    @media (max-width: $small-device-breakpoint) {
        &__card-body {
         padding: 25px;
        }
     }
    &__card-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__duration {
        padding-left: 54px;
        position: relative;
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            background: url('../../icons/navigation.svg') center center/cover no-repeat;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
}

@media (max-width: $large-device-breakpoint) {
    .top-selling {
        margin-top: 100px;
    }
}

@media (max-width: $medium-device-breakpoint) {
    .top-selling {
        margin-top: 40px;
    }
}