// Colors

$black-color: rgb(0, 0, 0);
$grey-color: rgba(94, 98, 130, 1);
$dark-grey-color: rgba(33, 40, 50, 1);
$light-grey-color: rgba(104, 109, 119, 1);
$white-color: rgba(255, 255, 255, 1);
$blue-color: rgba(30, 29, 76, 1);
$dark-blue-color:  rgba(20, 24, 62, 1);
$red-color: rgba(223, 105, 81, 1);
$yellow-color: rgba(241, 165, 1, 1);
$light-yellow-color: rgba(255, 241, 218, 1);
$light-violet-color: rgba(223, 215, 249, .2);
$violet-color: rgba(138, 121, 223, 1);


//Font-size
$fs-13: 0.8125em;
$fs-14: 0.875em;
$fs-16: 1em;
$fs-17: 1.0625em;
$fs-18: 1.125em;
$fs-20: 1.25em;
$fs-24: 1.5em;
$fs-33: 2.0625em;
$fs-44: 2.75em;
$fs-50: 3.125em;
$fs-84: 5.25em;

// Media breakpoints
$x-large-device-breakpoint: 1599.98px;
$large-device-breakpoint: 1199.98px;
$medium-device-breakpoint: 991.98px;
$small-device-breakpoint: 767.98px;
$x-small-device-breakpoint: 478.98px;