// Colors

$black-color: rgb(0, 0, 0);
$grey-color: rgba(94, 98, 130, 1);
$dark-grey-color: rgba(33, 40, 50, 1);
$light-grey-color: rgba(104, 109, 119, 1);
$white-color: rgba(255, 255, 255, 1);
$dark-blue-color:  rgba(24, 30, 75, 1);
$red-color: rgba(223, 105, 81, 1);
$yellow-color: rgba(241, 165, 1, 1);
$light-violet-color: rgba(223, 215, 249, 1);


//Font-size

$extra-small: 16px;
$small: 17px;
$small-to-medium: 20px;
$medium: 30px;
$medium-to-large: 46px;
$large: 50px;
$extra-large: 84px;