// Colors

$black-color: rgb(0, 0, 0);
$grey-color: rgba(94, 98, 130, 1);
$white-color: rgba(255, 255, 255, 1);
$dark-blue-color:  rgba(24, 30, 75, 1);
$red-color: rgba(223, 105, 81, 1);
$yellow-color: rgba(241, 165, 1, 1);
$light-violet: rgba(223, 215, 249, 1);


//Font-size

$extra-small: 20px;
$small: 24px;
$small-to-medium: 25px;
$medium: 30px;
$medium-to-large: 50px;
$large: 65px;
$extra-large: 159px;